<div layout="column" flex ng-cloak>
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-disable-backdrop
                md-whiteframe="4">
            <md-toolbar>
                <md-button show-md hide-gt-md ng-click="toggleNav()" class="md-icon-button">
                    <md-icon id="menu-icon">menu</md-icon>
                </md-button>
            </md-toolbar>
            <md-content ng-controller="NavigationController">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="accession in accessions"
                                  ng-click="showAccession(accession)">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ accession.name }}</h3>
                            <h4>{{ accession.$id }}</h4>
                        </div>
                        <span flex></span>
                        <md-icon>keyboard_arrow_right</md-icon>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding ui-view></md-content>
    </section>
</div>
