<div layout="column" ng-cloak class="md-inline-form">
    <md-content>
        <div>
            <form name="searchForm">
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm>
                        <label>Search Query</label>
                        <input ng-model="search.query" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Database</label>
                        <md-select ng-model="search.database" required>
                            <md-option ng-repeat="database in databases" value="{{database}}">
                                {{database}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary"
                           ng-click="searchForm.$valid && search()">
                    Search for Sequence
                </md-button>
            </form>

            <md-list>
                <md-list-item ng-repeat="result in searchResults" class="md-2-line" ng-click="addSequence(result)">
                    <div class="md-list-item-text">
                        <h3>{{result.summary.Organism.ScientificName}}</h3>
                        <p>{{result.summary.Description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>