<md-card layout-padding>
    <md-card-title>
        <md-card-title-text>
            <div class="md-headline">No sequence selected.</div>
            <div class="md-subhead">You can select a sequence from the side navigation or add a new sequence.</div>
        </md-card-title-text>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="openNavigation()">
                Open Navigation
            </md-button>
            <md-button class="md-raised md-primary" ng-click="newSequence()">
                Add New Sequence
            </md-button>
        </md-card-actions>
    </md-card-title>
</md-card>